<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a href="/" class="navbar-brand">TOP</a>
    
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to 'Users List', users_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Log In', signup_path, class: 'nav-link' %></li>
      </ul>
  </nav>
</header>