<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a href="/" class="navbar-brand">Leaderboard</a>
    
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to 'Users List', users_path, class: 'nav-link' %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'My page', user_path(current_user), class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Log Out', logout_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Log In', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
  </nav>
</header>